<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adminedit</title>
</head>
<header>
    <div class="container">
        <h3 style="color: blue; padding: 5rem;">Edit here</h3>
    </div>
</header>
<body>
<div class="container" style="padding-top: 3rem; padding: 5rem;">
<form method="post" action="/edit/{{ user.id }}/">
    {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputPassword1">Firstname</label>
    <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Firstname" value="{{ user.first_name }}">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Lastname</label>
    <input type="text" class="form-control" name="lastname" id="lastname" placeholder="lastname" value="{{ user.last_name }}">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">username</label>
    <input type="text" class="form-control" name="username" id="username" placeholder="username" value="{{ user.username }}">
  </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>
    </div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>